<style type="text/css">
    .form-label {
        font-family: inherit;
        font-size: 16px;
        padding-bottom: 5px;
    }
    .textboxid
    {
        width:200px;
    }
    .messageboxid
    {
        width:200px;
        height: 200px;
    }
</style>
<form action="#" method="POST">

    <label class="form-label" for="first-name">First Name*</label><br>
    <input type="text" id="textboxid" name="firstname" required><br>

    <label class="form-label" for="last-name">Last Name*</label><br>
    <input type="text" id="textboxid" name="last-name" required><br>

    <label class="form-label" for="organization">Organization</label><br>
    <input type="text" id="textboxid" name="organization"><br>

    <label class="form-label" for="email">Email Address*</label><br>    
    <input type="email" id="textboxid" name="email" required><br>

    <label class="form-label" for="Phone">Phone</label><br>
    <input type="text" id="textboxid" name="phone"><br>
    <br>
    <label class="form-label" for="Message">Message*</label><br>
    <input type="text" id="messageboxid" name="message" required><br>
    <br>
    <button class="btn btn-jumbotron btn-lg" type="submit">Submit</button>
    
</form>