<form action="#" method="POST">

    <label class="lead" for="first-name">First Name*</label><br>
    <input width="200px" type="text" id="first-name" name="firstname" required><br>

    <label class="lead" for="last-name">Last Name*</label><br>
    <input width="200px" type="text" id="last-name" name="last-name" required><br>

    <label class="lead" for="organization">Organization</label><br>
    <input width="200px" type="text" id="organization" name="organization"><br>

    <label class="lead" for="email">Email Address*</label><br>    
    <input width="200px" type="email" id="email" name="email" required><br>

    <label class="lead" for="Phone">Phone</label><br>
    <input width="200px" type="text" id="phone" name="phone"><br>

    <label class="lead" for="Message">Message*</label><br>
    <input width="200px" height="200px" type="text" id="message" name="message" required><br>
    <br>
    <button class="btn btn-jumbotron btn-lg" type="submit">Submit</button>
    
</form>