<style type="text/css">
    .form-label {
        font-family: inherit;
        font-size: 12px;
    }
</style>
<form action="#" method="POST">

    <label class="form-label" for="first-name">First Name*</label><br>
    <input width="200px" type="text" id="first-name" name="firstname" required><br>
    <br>
    <label class="form-label" for="last-name">Last Name*</label><br>
    <input width="200px" type="text" id="last-name" name="last-name" required><br>
    <br>
    <label class="form-label" for="organization">Organization</label><br>
    <input width="200px" type="text" id="organization" name="organization"><br>
    <br>
    <label class="form-label" for="email">Email Address*</label><br>    
    <input width="200px" type="email" id="email" name="email" required><br>
    <br>
    <label class="form-label" for="Phone">Phone</label><br>
    <input width="200px" type="text" id="phone" name="phone"><br>
    <br>
    <label class="form-label" for="Message">Message*</label><br>
    <input width="200px" height="200px" type="text" id="message" name="message" required><br>
    <br>
    <button class="btn btn-jumbotron btn-lg" type="submit">Submit</button>
    
</form>