<style type="text/css">
    .form-label {
        font-family: inherit;
        font-size: 16px;
        padding-bottom: 5px;
        text-align: left;
    }
    .textbox
    {
        width: 50%;
    }
    .messagebox
    {
        width: 50%;
        height: 200px;
        resize: none;
    }
</style>
<form action="#" method="POST">

    <label class="form-label" for="firstname">First Name*</label><br>
    <input class="textbox" type="text" id="firstname" name="firstname" required><br>

    <label class="form-label" for="lastname">Last Name*</label><br>
    <input class="textbox" type="text" id="lastname" name="lastname" required><br>

    <label class="form-label" for="companyname">Company Name</label><br>
    <input class="textbox" type="text" id="companyname" name="companyname"><br>

    <label class="form-label" for="email">Email Address*</label><br>    
    <input class="textbox" type="email" id="email" name="email" required><br>

    <label class="form-label" for="githubaccountname">Github Account Name*</label><br>
    <input class="textbox" type="text" id="githubaccountname" name="githubaccountname" required><br>
    <br>
    <label class="form-label" for="Message">Message*</label><br>
    <textarea class="messagebox" id="message" name="message" required></textarea><br>
    <br>
    <button class="btn btn-jumbotron btn-lg" type="submit">Submit</button>
    
</form>
